In [1]:
import mysql.connector
from mysql.connector import Error
from dotenv import load_dotenv
import os
import pandas as pd

import table_functions

#### Cargar conexion

In [2]:
# Cargar variables del archivo .env
load_dotenv()

def get_connection():
    try:
        connection = mysql.connector.connect(
            host=os.getenv("DB_HOST"),
            user=os.getenv("DB_USER"),
            password=os.getenv("DB_PASSWORD"),
            database=os.getenv("DB_NAME"),
            auth_plugin='mysql_native_password'
        )
        print(f" Conexión realizada a la base de datos {os.getenv('DB_NAME')}.")
        return connection
    except mysql.connector.Error as err:
        print(" Error al conectar a la base de datos:", err)
        return None

In [3]:
#Test
conn = get_connection()

 Conexión realizada a la base de datos student_menthal_health.

In [4]:

csv_path = "../csv/students_cleaned.csv"
df=pd.read_csv(csv_path)

#### Tabla student

In [6]:


def insert_students_df(df, conn):
    cursor = conn.cursor()
    
    # Preparar consulta (adaptar columnas a la tabla)
    sql = """
    INSERT INTO student (student_id, gender, age, country) 
    VALUES (%s, %s, %s, %s)
    """
    
    # Convertir DataFrame a lista de tuplas
    values = [tuple(x) for x in df.to_numpy()]
    
    try:
        cursor.executemany(sql, values)
        conn.commit()
        print(f"{cursor.rowcount} filas insertadas en la tabla student.")
    except mysql.connector.Error as err:
        print(f"Error al insertar datos: {err}")
        conn.rollback()
    finally:
        cursor.close()

In [10]:
from table_functions import table_students

# Cargar variables de entorno
load_dotenv()

conn = get_connection()

# Suponiendo que ya tienes el DataFrame base original llamado df_original
students_df = table_students(df)

# Insertar datos
insert_students_df(students_df, conn)

conn.close()

✅ Conexión realizada a la base de datos student_menthal_health.
Error al insertar datos: 1062 (23000): Duplicate entry '1' for key 'student.PRIMARY'

#### tabla socialmedia

In [11]:
def insert_social_media_df(df, conn):
    cursor = conn.cursor()
    
    sql = """
    INSERT INTO social_media (platform_id, name)
    VALUES (%s, %s)
    """
    
    values = [tuple(row) for row in df.to_numpy()]
    
    try:
        cursor.executemany(sql, values)
        conn.commit()
        print(f"{cursor.rowcount} filas insertadas en la tabla social_media.")
    except mysql.connector.Error as err:
        print(f"Error al insertar datos en social_media: {err}")
        conn.rollback()
    finally:
        cursor.close()

In [12]:
from table_functions import social_media
# Cargar variables de entorno
load_dotenv()
#Creamos conexión a la base de datos
conn = get_connection()

social_media_df = social_media(df)

# Insertar en la base de datos
insert_social_media_df(social_media_df, conn)

conn.close()

✅ Conexión realizada a la base de datos student_menthal_health.
Error al insertar datos en social_media: 1062 (23000): Duplicate entry '1' for key 'social_media.PRIMARY'

#### Tabla marital status

In [13]:
def marital_status_insert(df, conn):
    cursor = conn.cursor()
    
    sql = """
    INSERT INTO marital_status (marital_id, status_name)
    VALUES (%s, %s)
    """
    
    values = [tuple(row) for row in df.to_numpy()]
    
    try:
        cursor.executemany(sql, values)
        conn.commit()
        print(f"{cursor.rowcount} filas insertadas en la tabla social_media.")
    except mysql.connector.Error as err:
        print(f"Error al insertar datos en social_media: {err}")
        conn.rollback()
    finally:
        cursor.close()

In [14]:
from table_functions import marital_status_ref
conn = get_connection()

marital_ref_df = marital_status_ref(df)
marital_status_insert(marital_ref_df, conn)
conn.close()

✅ Conexión realizada a la base de datos student_menthal_health.
Error al insertar datos en social_media: 1062 (23000): Duplicate entry '1' for key 'marital_status.PRIMARY'

### Tabla platform_use

In [12]:
def platform_use_insert (df,conn):
    cursor = conn.cursor()
    
    sql =  """
    INSERT INTO platform_use (platform_id, student_id, avg_use, sleep_time, mental_score, addicted_score)
    VALUES (%s, %s, %s, %s, %s, %s)
    """
    values = [tuple(row) for row in df.to_numpy()]
    
    try:
        cursor.executemany(sql, values)
        conn.commit()
        print(f"{cursor.rowcount} filas insertadas en la tabla social_media.")
    except mysql.connector.Error as err:
        print(f"Error al insertar datos en social_media: {err}")
        conn.rollback()
    finally:
        cursor.close()

In [13]:
from table_functions import table_platform_use
conn = get_connection()
platform_use_df = table_platform_use(df)
platform_use_insert(platform_use_df,conn)
conn.close()

 Conexión realizada a la base de datos student_menthal_health.
705 filas insertadas en la tabla social_media.

#### Tabla marital student

In [20]:
def marital_student_insert (df,conn):
    cursor = conn.cursor()
    df = df.astype(object)
    sql =  """
    INSERT INTO marital_student (student_id, marital_id, conflicts)
    VALUES (%s, %s, %s)
    """
    values = [tuple(row) for row in df.to_numpy()]
    
    try:
        cursor.executemany(sql, values)
        conn.commit()
        print(f"{cursor.rowcount} filas insertadas en la tabla.")
    except mysql.connector.Error as err:
        print(f"Error al insertar datos en la tabla: {err}")
        conn.rollback()
    finally:
        cursor.close()

In [21]:
from table_functions import table_marital_students
conn = get_connection()
marital_student_df = table_marital_students(df)
marital_student_insert(marital_student_df,conn)
conn.close()

 Conexión realizada a la base de datos student_menthal_health.
705 filas insertadas en la tabla.

#### Tabla academic level

In [22]:
def academic_level_insert (df,conn):
    cursor = conn.cursor()
    df = df.astype(object)
    sql =  """
    INSERT INTO academic_level (level_id, academic_level)
    VALUES (%s, %s)
    """
    values = [tuple(row) for row in df.to_numpy()]
    
    try:
        cursor.executemany(sql, values)
        conn.commit()
        print(f"{cursor.rowcount} filas insertadas en la tabla.")
    except mysql.connector.Error as err:
        print(f"Error al insertar datos en la tabla: {err}")
        conn.rollback()
    finally:
        cursor.close()

In [23]:
from table_functions import table_academic_level
conn = get_connection()
academic_level_df = table_academic_level(df)
academic_level_insert(academic_level_df,conn)
conn.close()

 Conexión realizada a la base de datos student_menthal_health.
3 filas insertadas en la tabla.

#### Tabla student_acadenic

In [8]:
def student_academic_insert (df,conn):
    cursor = conn.cursor()
    df = df.astype(object)
    sql =  """
    INSERT INTO student_academic (student_id, level_id, affects)
    VALUES (%s, %s, %s)
    """
    values = [tuple(row) for row in df.to_numpy()]
    
    try:
        cursor.executemany(sql, values)
        conn.commit()
        print(f"{cursor.rowcount} filas insertadas en la tabla.")
    except mysql.connector.Error as err:
        print(f"Error al insertar datos en la tabla: {err}")
        conn.rollback()
    finally:
        cursor.close()

In [10]:
from table_functions import table_student_academic
conn = get_connection()
student_academic_df = table_student_academic(df)
student_academic_insert(student_academic_df,conn)
conn.close()

 Conexión realizada a la base de datos student_menthal_health.
705 filas insertadas en la tabla.