In [1]:
import mysql.connector
from mysql.connector import Error
from dotenv import load_dotenv
import os
import pandas as pd

import table_functions

In [2]:
# Cargar variables del archivo .env
load_dotenv()

def get_connection():
    try:
        connection = mysql.connector.connect(
            host=os.getenv("DB_HOST"),
            user=os.getenv("DB_USER"),
            password=os.getenv("DB_PASSWORD"),
            database=os.getenv("DB_NAME"),
            auth_plugin='mysql_native_password'
        )
        print(f"✅ Conexión realizada a la base de datos {os.getenv('DB_NAME')}.")
        return connection
    except mysql.connector.Error as err:
        print("❌ Error al conectar a la base de datos:", err)
        return None

In [3]:
conn = get_connection()

✅ Conexión realizada a la base de datos student_menthal_health.

In [6]:


def insert_students_df(df, conn):
    cursor = conn.cursor()
    
    # Preparar consulta (adaptar columnas a la tabla)
    sql = """
    INSERT INTO student (student_id, gender, age, country) 
    VALUES (%s, %s, %s, %s)
    """
    
    # Convertir DataFrame a lista de tuplas
    values = [tuple(x) for x in df.to_numpy()]
    
    try:
        cursor.executemany(sql, values)
        conn.commit()
        print(f"{cursor.rowcount} filas insertadas en la tabla student.")
    except mysql.connector.Error as err:
        print(f"Error al insertar datos: {err}")
        conn.rollback()
    finally:
        cursor.close()

In [9]:

csv_path = "../csv/students_cleaned.csv"
df=pd.read_csv(csv_path)

In [10]:
from table_functions import table_students

# Cargar variables de entorno
load_dotenv()

conn = get_connection()

# Suponiendo que ya tienes el DataFrame base original llamado df_original
students_df = table_students(df)

# Insertar datos
insert_students_df(students_df, conn)

conn.close()

✅ Conexión realizada a la base de datos student_menthal_health.
Error al insertar datos: 1062 (23000): Duplicate entry '1' for key 'student.PRIMARY'

In [11]:
def insert_social_media_df(df, conn):
    cursor = conn.cursor()
    
    sql = """
    INSERT INTO social_media (platform_id, name)
    VALUES (%s, %s)
    """
    
    values = [tuple(row) for row in df.to_numpy()]
    
    try:
        cursor.executemany(sql, values)
        conn.commit()
        print(f"{cursor.rowcount} filas insertadas en la tabla social_media.")
    except mysql.connector.Error as err:
        print(f"Error al insertar datos en social_media: {err}")
        conn.rollback()
    finally:
        cursor.close()

In [12]:
from table_functions import social_media
# Cargar variables de entorno
load_dotenv()
#Creamos conexión a la base de datos
conn = get_connection()

social_media_df = social_media(df)

# Insertar en la base de datos
insert_social_media_df(social_media_df, conn)

conn.close()

✅ Conexión realizada a la base de datos student_menthal_health.
Error al insertar datos en social_media: 1062 (23000): Duplicate entry '1' for key 'social_media.PRIMARY'

In [13]:
def marital_status_insert(df, conn):
    cursor = conn.cursor()
    
    sql = """
    INSERT INTO marital_status (marital_id, status_name)
    VALUES (%s, %s)
    """
    
    values = [tuple(row) for row in df.to_numpy()]
    
    try:
        cursor.executemany(sql, values)
        conn.commit()
        print(f"{cursor.rowcount} filas insertadas en la tabla social_media.")
    except mysql.connector.Error as err:
        print(f"Error al insertar datos en social_media: {err}")
        conn.rollback()
    finally:
        cursor.close()

In [14]:
from table_functions import marital_status_ref
conn = get_connection()

marital_ref_df = marital_status_ref(df)
marital_status_insert(marital_ref_df, conn)
conn.close()

✅ Conexión realizada a la base de datos student_menthal_health.
Error al insertar datos en social_media: 1062 (23000): Duplicate entry '1' for key 'marital_status.PRIMARY'